body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    background-color: #ede0d4;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

#canvas {
    border: 1px solid 463f3a;
    width: 500px;
    height: 500px;
    display: grid;
    background-color: white;
    border-color: #463f3a;
}

.pixels {
    background-color: white;
    width: 1fr;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    color: #463f3a;
}

.settings > button {
    border-color: #463f3a;
    background-color: #fffcf2;
    font-family: "Poppins";
    width: 12vh;
    height: 7vh;
}

.settings > button:hover {
    filter: brightness(0.85);
}


